/* Colors and fonts */
body { 
	background-color: rgb(230, 230, 230);
	color: rgb(50, 50, 50);
	font-family: Lora, serif;
	font-size: 15px;
	font-weight: lighter;	
}

h1, h2, {
	font-family: Roboto, sans-serif;
}
h1 { 
	color: red;
	font-weight: 900;
	font-size: 32px;
}
h2 { 
	color: red;
	font-weight: lighter;
	font-size: 20px;
	font-weight: 500;
}
a {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 18px;
}
a:hover {
  Color: red;
}


/* Custom design with class (99% of your design) */
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	text-align: center;
	padding: 40px;
	margin: 20px 0px;
	background-color: white;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
} 


.img-circle {
	border-radius: 70%;
} 
.btn-blue {
	background-color: #6B72E1;
	color: red;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: bleue;
}
.list-inline i:hover {
	color: red;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
	margin: 40px;
}
